/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Merienda One', cursive;
*/
/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;

}
h1, h2 {
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  color: #2F4F4F;
  font-style: bold;
}
h1 {
  font-size: 90px;
}
h2 {
  font-size: 40px;
  margin-top: 0; 
}
h3 {
	margin: 0;
}
a {
	color: black;
	font-size: 1.3em
		
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 90px 30px;
  overflow: hidden;
  
}

.uppercase {
	text-transform: uppercase;
	
}
p {
	font-size: 1.5em;
}
.col-wide ul li {
	font-size: 1.5em;
}

.btn {
  text-decoration: none;
  background: #2F4F4F;
  padding: 10px;
  display: inline-block;
  color: white;
}

/* Header and Footer
-------------------------*/
header, footer {
  background: rgb(112,128,144);
 
}
/* header */
header h1, header h2 {
  
  margin: 0;
}
header {
  padding-top: 50px;
  position: relative;
}
.profile-img {
  border-radius: 50%;
}
/* footer */
footer {
  text-align: center;
}
.contact-info a {
  padding: 15px;
  display: inline-block;
  font-size: 40px;
}
#footer-container {
	padding-top: 200px;
	height: 750px;
	
}
.contact-h2 {
	font-size: 70px;
	height: 150px;
	width: auto;
}
.download {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Navigation
-------------------------*/
nav {
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;
	background: white;
	color: #2F4F4F;
	

}
nav a {
	display: inline-block;
	padding: 5px 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #2F4F4F;
	font-size: 700;
}

/* Education
-------------------------*/
#education {
/*	background: rgb(169,169,169);*/
}
h3 ~ p {
 margin: 0;
}
#education {
 	margin-bottom: 25px;	
}
#education p:first-of-type {
	margin-top: 0;
}


/* Certification
-------------------------*/
#certification {
	background: rgb(255,250,250);
}
#certification p:first-of-type {
	margin-top: 0;
}
/*apply this style to any h3's that follow a paragraph tag.*/
p + h3 { 
 margin-top: 20px;	
}

/* Skills
-------------------------*/
#skills {
	background: rgb(245,245,245);
}
#skills ul:first-of-type {
	margin-top: 0;
}


/* Media Queries
-------------------------*/
@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
}
@media (max-width: 899px){
  header {
    text-align: center;
  }
  .profile-img {
    width: 200px;
  }
}
