/**************************************
GENERAL
****************************************/
/*
Specify in CSS
Use the following CSS rules to specify these families:

font-family: 'Rubik Mono One', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto', sans-serif;
*/

/* site body */
body {
  font-family: 'Roboto Mono', monospace;
  color: lightslategray;
}

a {
  text-decoration: none;
  color: #545855;
}

a:link {
	color: black;
}
img {
  max-width: 100%; 
}
.badges {
	text-align: center;
	margin: auto;
}

#logo {
  text-align: center;
  margin: 0;
}
h1 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	text-shadow: 3px 3px 3px #fff;
/*	margin: 15px 0;*/
	font-size: 1.75em;
	font-weight: bolder;
/*	line-height: 0.8em;*/
	margin: 1% auto;
}

h3 {
  margin: 0 0 1em 0;

}
/*******************
HEADING
********************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;  /* padding: top right buttom left */
  width: 100%;
}

h1, h2 {
  color: #402d2d;
}
#mainTitle, h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;  
}

/*******************
Navigation
********************/
nav {
  text-align: right;
/*
  padding: 10px 0;
  margin: 20px 0 0;
*/
/*
  align-items: center;
  justify-content: center;
  margin: 0 auto;
*/
}
/* nav background on mobile*/
nav {
  background: #29506D;
}

nav ul {
  list-style: none;
  margin: auto;
  padding:20px;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}
/* selected link */
nav a, nav a:visited {
  color: #545855;
}
/* selected nav link */
nav a.selected, nav a:hover {
  color: #AA3E39;
}

/**************************************
PAGE: PORTFOLIO
****************************************/

#gallery {
  margin: 0;
  padding:0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
}
/**************************************
PAGE: ABOUT
****************************************/

.profile-photo {
  clear: both;
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;

}


/*******************
Footer
********************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #00B894;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/*******************
PAGE: CONTACT
********************/
.contact-info {

}
.telephone a {
  background-image: url(img/phone.png);
}
.mail a {
  background-image: url(img/mail.png);
}
.twitter a {
  background-image: url(img/twitter.png);
}

.contact-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}